header, footer{
    height:  20rem;
background-color: red;
border: solid;  }
  
  .container, .container3{
    margin: 15rem 1rem;
    border: solid;
  }
  .container2{
      margin: 0rem 15rem;
      border: solid rgb(255, 119, 0);

      background-color: yellowgreen;
      width: 100%;
  }

  .container2 section{
    transform: translateX(30rem);


  }
  
          
  @keyframes rotate {
    0% {
              transform: translateY(0) translateZ(0) rotateX(0deg);
              transform-origin: bottom center;
    }
    48%{
      filter: opacity(1);
      filter: saturate(1.5);

  
    }
    49%{
      filter: opacity(0);
  
    }
    50% {
        transform: translateY(-150px) translateZ(130px) rotateX(-90deg);
        transform-origin: bottom center;
        filter: opacity(0);
    }
    100% {
        transform: translateY(-150px) translateZ(130px) rotateX(-90deg);
        transform-origin: bottom center;
        filter: saturate(1.5);
        filter: opacity(0);
    }
  }
  
  
  @keyframes popUp {
      0%{
          /* display: none; */
          filter: opacity(0);
      }

      20%{
          /* display: block; */
          filter: opacity(0);
          transform:translateY(-2rem);
      }
      22%{
          /* display: block; */
          filter: opacity(1);
          transform:translateY(0rem);
          rotate: -5deg;
      }
      100%{
          /* display: block; */
          filter: opacity(1);
      }
  }
  
  @keyframes setDown {
      0%{
          filter: opacity(0);
          transform:translateY(1)
      }

      30%{
          filter: opacity(.5);
          transform: scale(.9);
          transform:translateY(5)
      }
      37%{
          filter: opacity(1);
          transform:translateY(-2rem);
      }
  
      40%{
          filter: opacity(1);
          transform:translateY(0rem);
      }
  
      100%{
          filter: opacity(1);
          transform:translateY(0rem);
      }
  }
  
  @keyframes setDownSecond {
      0%{
          filter: opacity(0);
          transform:translateY(1)
          
  
      }
  
      18%{
          filter: opacity(0);
  
          
  }
  
  30%{
      filter: opacity(0);
  
  }
      40%{
          filter: opacity(.5);
          transform: scale(.9);
  
          transform:translateY(5)
  
      }
  
      47%{
          filter: opacity(1);
          transform:translateY(-2rem);
  
      }
  
      50%{
          filter: opacity(1);
          transform:translateY(0rem);
  
      }
  
      100%{
          filter: opacity(1);
          transform:translateY(0rem);
          /* z-index: 100;  */
  
  
      }
  }
  
  .tostadacenit2, .tostadacenit {
      animation: rotate ease-in both;
      animation-timeline: view();
  
  }
  .lechugaPerfil2, .tostadaPerfil2{
      animation: setDown auto linear;
      animation-timeline: view();
  
  }
  
   .pierna2{
      animation: setDownSecond auto linear;
      animation-timeline: view();
  
  }
  
  
  .tostadaPerfil, .tostadacenit, .pierna, .lechugaPerfil{
      /* border: solid; */
      width: fit-content;
  
  }
  
  .tostadaPerfil{
      margin-top: -11.5rem;
      animation: popUp auto linear;
      animation-timeline: view();
      rotate: -5deg;
  }
  
  .tostadaPerfil img{
      width: 78%;
  }
  
  
  
  
  .lechugaPerfil{
      /* display: none; */
      margin-bottom: -33rem;
      /* z-index: -1; */
  
  
      animation: setDown  auto linear;
      animation-timeline: view();
  
  }
  
  
  .pierna{
      /* position: absolute; */
      margin-bottom: -10rem;
      margin-left: 5rem;    
  
      /* z-index: 100; */
      /* position: absolute; */
      /* border:solid 5px red; */
  
      animation: setDownSecond  auto linear;
      animation-timeline: view();
      animation-delay: .2s; 
  
  }
  
  .jitomate{
      /* position: absolute; */
      margin-bottom: -5rem;
      margin-left: 8rem;    
  
      /* z-index: 100; */
      /* position: absolute; */
      /* border:solid 5px red; */
  
      animation: setDownSecond auto linear;
      animation-timeline: view();
      animation-delay: .8s; 
  
  }
  
  